.roboto-light {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root {
  --color-primary: red;
  --color-white: white;
  --color-gray: rgb(45 45 45);
  --color-light-gray: rgb(255 255 255 / 70%);
  --color-black: black;
}
.layout {
  display: flex;
  flex-direction: column;
  padding: 0 22.125rem 6rem;
}

@media screen and (max-width: 900px) {
  .layout {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 900px) and (max-width:1900px) {
  .layout {
    padding: 0 9.25rem;
  }
}

.section-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.select {
  padding: .5rem;
  background-color: var(--color-black);
  border-radius: .25rem;
  font-size: 1rem;
  color: var(--color-white);
}

.select__language {
  padding: .5rem 2rem;
  background-image: url('/images/ic_language_white.svg');
  background-position: .4rem;
  background-repeat: no-repeat;
  background-color: var(--color-black);
  opacity: 0.8;
  border: 1px solid var(--color-gray);
  appearance: none;
}

.btn {
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-size: 1rem;
  color: var(--color-white);
}

.btn:hover {
  background-color: rgb(193 17 25);
}
