.footer {
  margin-bottom: 2rem;
}

.footer__title {
  margin-bottom: 2.5rem;
  text-align: left;
  font-size: .875rem;
  color: var(--color-light-gray);
}

.footer p {
  margin: .25rem .25rem .25rem 0;
  text-align: left;
  font-size: .75rem;
}

.footer a {
  margin: .25rem .25rem .25rem 0;
  text-align: left;
  text-decoration: underline;
  font-size: .75rem;
}