.footer {
  margin-bottom: 2rem;
}

.footer__title {
  margin-bottom: 2.5rem;
  font-size: .875rem;
  text-align: left;
  color: var(--color-light-gray);
}

.footer__info, .footer__site {
  margin: .25rem .25rem .25rem 0;
  font-size: .75rem;
  text-align: left;
}

.footer__site {
  text-decoration: underline;
}