body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  font-family: Roboto,'Helvetica Neue', sans-serif;
  color: var(--color-white);
  width: 100vw; 
}

button {
  border: none;
  cursor: pointer;
}

input {
  padding: .5rem 1rem;
  background-color: rgb(0 0 0 / 40%);
  border: 1px solid var(--color-white);
  border-radius: .25rem;
  color: var(--color-white);
}

h1, h2, h3 {
  text-align: left;
  color: var(--color-white);
}

p, a {
  color: var(--color-light-gray);
}