@import url('/css/header.css');
@import url('/css/main.css');
@import url('/css/banner.css');
@import url('/css/trend.css');
@import url('/css/benefit.css');
@import url('/css/qna.css');
@import url('/css/footer.css');
@import url('/css/support.css');

.roboto-light {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root {
  --color-primary: red;
  --color-white: white;
  --color-gray: rgb(45 45 45);
  --color-light-gray: rgb(255 255 255 / 70%);
  --color-black: black;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  font-family: Roboto,'Helvetica Neue', sans-serif;
  color: var(--color-white);
  width: 100vw; 
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-size: 1rem;
  color: var(--color-white);
}

.btn:hover {
  background-color: rgb(193 17 25);
}

.select {
  padding: .5rem;
  background-color: var(--color-black);
  border-radius: .25rem;
  font-size: 1rem;
  color: var(--color-white);
}

.select__language {
  padding: .5rem 2rem;
  background-image: url('/images/ic_language_white.svg');
  background-position: .4rem;
  background-repeat: no-repeat;
  background-color: var(--color-black);
  opacity: 0.8;
  border: 1px solid var(--color-gray);
  appearance: none;
}

.header__language-select,
.support__language-select{
  position: relative;
  width: fit-content;
}

.header__language-select::after {
  position: absolute;
  top: .7rem;
  right: .8rem;
  font-size: .75rem;
  content: "▼";
}

.support__language-select::after {
  position: absolute;
  top: .7rem;
  right: .8rem;
  font-size: .75rem;
  content: "▼";
}

input {
  padding: .5rem 1rem;
  background-color: rgb(0 0 0 / 40%);
  border: 1px solid var(--color-white);
  border-radius: .25rem;
  color: var(--color-white);
}

.section-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

h1, h2, h3 {
  text-align: left;
  color: var(--color-white);
}

p, a {
  color: var(--color-light-gray);
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 0 22.125rem 6rem;
}

@media screen and (max-width: 900px) {
  .layout {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 900px) and (max-width:1900px) {
  .layout {
    padding: 0 9.25rem;
  }
}


.signup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.signup-form {
  position: relative;
}

@media screen and (max-width: 900px) {
  .signup-form {
    flex-direction: column;
    flex-grow: 1;
  }
}

.signup__label {
  position: absolute;
  top: 40%;
  left: 1rem; 
  font-size: 16px;
  transition: all 0.3s ease; 
  pointer-events: none;
}

.signup__label.active {
  font-size: .75rem;
  transform: translateY(-.6rem);
}

.signup__input {
  height: 3.5rem;
  box-sizing: border-box;
  padding: 1.5rem 1rem .5rem;
  font-size: 1rem;
  width: 31.25rem;
}

@media screen and (max-width: 900px) {
  .signup__input  {
    width: 100%;
  }
}

.signup__submit-btn {
  display: inline-flex;
  align-items: center;
  padding: .75rem 1.5rem;
  background-color: var(--color-primary);
  font-size: 1.125rem;
}

@media screen and (max-width: 900px) {
  .signup__submit-btn {
    padding: .5rem 1rem;
  }
}