.support {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.support-membership__title {
  text-align: center;
  color: var(--color-white);
}

.support__menu {
  margin-top: 2rem;
}

.support__menu span {
  text-decoration: underline;
}

.support__link-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0;
}

.support__link {
  margin-top: .75rem;
  font-size: 1rem;
  text-align: left;
  text-decoration: underline;
  list-style: none;
  color: var(--color-light-gray); 
  width: 33%;
}

.support__link:visited {
  color: var(--color-light-gray);
}

@media screen and (max-width: 600px) {
  .support__link { 
    width: 100%;
  }
}