.trend {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.select__country, .select__content {
  float: left;
  margin-right: 1rem;
}

.slider__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  overflow: scroll hidden;
}

.slider__wrapper::-webkit-scrollbar{
  display: none;
}

.slider__list {
  display: inline-flex;
  transition: transform 0.3s ease;
}

.card__item {
  display: block;
  position: relative;
  width: 13.75rem;
  height: 19.6875rem;
  margin: 0 0 0 2rem;
  border-radius: .5rem;
  cursor: pointer;
}

.card__item:hover {
  transform: scale(1.1);
  transition: .5s;
}

.card__img {
  border-radius: .5rem;
}

.card__rank {
  position: absolute;
  bottom: 2rem;
  left: -2rem;
  font-size: 5rem;
  font-weight: 900;
  color: var(--color-black);
  text-shadow: -1px -1px 0 var(--color-white), 1px -1px 0 var(--color-white), -1px 1px 0 var(--color-white), 1px 1px 0 var(--color-white);
}

.slider__btn-left, .slider__btn-right  {
  display: none;
  position: sticky;
  transform: translateY(50%);
  width: 1.5rem;
  height: 7.5rem;
  align-items: center;
  border-radius: .5rem;
  background-color: var(--color-gray);
  z-index: 1;
  cursor: pointer;
  transition: opacity 400ms ease-in-out;
}

.slider__btn-left {
  left: 0;
}

.slider__btn-right {
  right: 0rem;
}